.heading-1 {
  font-family: "Abril Fatface", sans-serif;
  font-size: 8rem;
  word-spacing: 1rem;
  color: #7c7c7c;
  color: #303030;
}

.heading-2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 4.2rem;
  font-weight: 500;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #64ebaa 40%, #82cea9 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  overflow: hidden;
}

.heading-3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #AD9643;
}

.parag {
  font-size: 1.8rem;
  color: #8f8f8f;
  line-height: 3rem;
}
.parag--bolder {
  font-weight: 600;
  color: #7c7c7c;
  font-size: calc(1.3 * 1.8rem);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #fff;
  padding: 3rem;
  font-family: "Montserrat", sans-serif;
}

.u-no-bullets {
  list-style: none;
}

.u-text-center {
  text-align: center !important;
}

.u-btn-center {
  display: block;
  margin: 0 auto;
}

.u-text-primary {
  color: #82cea9 !important;
}

.u-mgb-sm {
  margin-bottom: 1.5rem !important;
}

.u-mgb-md {
  margin-bottom: 3rem !important;
}

.u-mgb-lg {
  margin-bottom: 10rem !important;
}

.header {
  height: 100vh;
  padding: 2rem 6rem;
  position: relative;
  z-index: 5;
}
.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(106deg, #82cea9 12%, #90e2bb 60%, #64ebaa 90%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__logo {
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  background: #fff;
  margin-right: auto;
  position: relative;
}
.header__logo::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  transform: translate(40%, 40%);
  border-radius: 3px;
  background: #fff;
}
.header__navlist {
  display: flex;
  align-items: center;
  gap: 5vw;
  font-size: 1.7rem;
  color: #fff;
}
.header__navlink {
  min-width: max-content;
  padding: 1rem 0;
  cursor: pointer;
  position: relative;
  transition: all 0.4s;
}
.header__navlink::before, .header__navlink::after {
  content: "";
  position: absolute;
  height: 2%;
  background: #8f8f8f;
  width: 0%;
  transition: width 0.4s;
}
.header__navlink::before {
  top: 0;
  left: 0;
}
.header__navlink::after {
  right: 0;
  bottom: 0;
}
.header__navlink:hover {
  color: #8f8f8f;
}
.header__navlink:hover::before, .header__navlink:hover::after {
  width: 100%;
}
.header__picture {
  position: absolute;
  top: 75%;
  left: 50%;
  background: #fff;
  border-radius: 6rem;
  padding: 4.5rem;
  transform: translateX(-50%) translateY(-25%) rotate(55deg);
}
.header__picture::before, .header__picture::after {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 50%;
  z-index: 34;
}
.header__picture::before {
  width: 1rem;
  height: 1rem;
  left: -10%;
  top: 90%;
}
.header__picture::after {
  width: 1.5rem;
  height: 1.5rem;
  top: -15%;
  right: 10%;
}
.header__photo {
  width: 20rem;
  height: 20rem;
  aspect-ratio: 1;
  transform: rotate(-55deg);
  border-radius: 50%;
}

section#about-me {
  margin-top: -25vh;
  background-color: #fff;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  padding: calc(25vh + 10rem) 4rem 30rem;
  position: relative;
  overflow: hidden;
  z-index: 4;
}
section#about-me .who-am-i-first {
  max-width: 40ch;
  margin: 0 auto;
  position: relative;
}
section#about-me .who-am-i-first::before {
  content: "";
  position: absolute;
  bottom: 110%;
  left: 105%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: scale(19) translateX(2rem);
  transform-origin: top;
  background: #f9fafc;
  opacity: 0;
  transition: transform 1s;
  z-index: -1;
}
section#about-me .who-am-i-first:hover::before {
  opacity: 1;
  transform: scale(20) translateX(0);
}
section#about-me .who-am-i-second {
  max-width: 40ch;
  margin: 0 auto;
}

section#myskills {
  margin-top: -25rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  background: #f7f7f7;
  text-align: center;
  position: relative;
  z-index: 3;
  padding: 30rem 6rem;
  padding-bottom: 40rem;
}
section#myskills .myskills__list {
  margin: 0 auto;
  display: grid;
  place-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  grid-column-gap: 2rem;
  grid-row-gap: 5rem;
}

section#myexperience {
  margin-top: -30rem;
  background: #fff;
  text-align: center;
  z-index: 5;
  padding: 35rem 6rem;
  padding-bottom: 10rem;
}
section#myexperience .allexperiences {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
  gap: 6rem;
  justify-content: center;
}

section#myprojects {
  height: 75vh;
  background: #fff;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  font: inherit;
}

.btn {
  font: inherit;
  font-size: 1.8rem;
  padding: 1.3em 2.2em;
  border-radius: 999px;
  border: none;
  transition: all 0.3s;
}
.btn:hover, .btn:active, .btn:focus {
  outline: none;
  cursor: pointer;
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.12);
  transform: translateY(-7px);
}
.btn-gradient {
  color: #fff;
  background: linear-gradient(120deg, #64ebaa 30%, #82cea9 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.btn-gradient::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s;
}
.btn-gradient:hover::before {
  opacity: 1;
  transform: scale(10);
}
.btn-white {
  background: #fff;
  color: #82cea9;
}
.btn-round {
  display: inline-grid;
  place-items: center;
  font-size: 3rem;
  padding: 1.5rem;
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.12) !important;
  border-radius: 50% !important;
  z-index: 100;
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.skill__circle {
  width: 12rem;
  height: 12rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: relative;
}
.skill__circle::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #f4f4f4;
  border-radius: 50%;
  z-index: -2;
  transition: transform 0.2s;
}
.skill__circle::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -2;
  transform: scale(0.1);
  transition: transform 0.2s;
}
.skill__picture {
  width: 5rem;
  position: relative;
}
.skill__logo {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.skill__name {
  font-size: 1.5rem;
  color: #000;
}
.skill--show-circle .skill__circle::after {
  transform: scale(1);
}
.skill[skillname*=Redux] .skill__logo, .skill[skillname*=Figma] .skill__logo {
  transform: scale(1.9);
}
.skill[skillname*=Redux]:hover .skill__circle::after {
  background: #ffeeff;
}
.skill[skillname*=React]:hover .skill__circle::after {
  background: #e3f8ff;
}
.skill[skillname*=JavaScript]:hover .skill__circle::after {
  background: #ebebeb;
}
.skill[skillname*=Sass]:hover .skill__circle::after {
  background: #ffecf5;
}
.skill[skillname*=MongoDB]:hover .skill__circle::after {
  background: #d9ffd6;
}
.skill[skillname*=Figma]:hover .skill__circle::after {
  background: #ffede6;
}
.skill[skillname*=HTML]:hover .skill__circle::after {
  background: linear-gradient(137.08deg, #DCE3FF 5.58%, #FFF3EE 108.84%);
}
.skill[skillname*=Node]:hover .skill__circle::after {
  background: linear-gradient(149.16deg, #D9FFD6 14.67%, #F0F0F0 88.46%);
}
.skill[skillname*=MongoDB] .skill__logo, .skill[skillname*=Node] .skill__logo {
  transform: scale(1.5);
}
.skill[skillname*=HTML] .skill__logo {
  transform: scale(1.5);
  background: linear-gradient(to right, #FFF3EE 5.58%, #DCE3FF 108.84%) !important;
}
.skill[skillname*=Node] .skill__logo {
  transform: scale(1.7);
}

.experience {
  width: 30rem;
  display: flex;
  flex-direction: column;
}
.experience__picture {
  height: 20rem;
  object-fit: cover;
  border-radius: 1.5rem;
  overflow: hidden;
  z-index: 2;
}
.experience__picture:hover ~ .experience__role > span {
  transform: translateY(200%);
}
.experience__picture:hover ~ .experience__role::before {
  bottom: 50%;
}
.experience__photo {
  width: 100%;
  height: 100%;
}
.experience__role {
  width: 85%;
  align-self: center;
  display: flex;
  justify-content: center;
  background: #fff;
  color: #AD9643;
  padding: 2rem 6rem;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.08);
  border-radius: 50% 3px 50% 3px;
  transform: translateY(-50%);
  overflow: hidden;
  z-index: 2;
  position: relative;
}
.experience__role > span {
  min-width: max-content;
  transition: transform 0.2s;
}
.experience__role::before {
  content: attr(data-role);
  position: absolute;
  bottom: 120%;
  transform: translateY(50%);
  min-width: max-content;
  color: #82cea9;
  transition: bottom 0.2s;
}
.experience__description {
  margin-top: -0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem !important;
  color: #8f8f8f;
  text-align: left;
}
.experience__duration {
  align-self: flex-end;
  width: max-content;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 3px;
  color: #b6b6b6;
}

/*# sourceMappingURL=style.css.map */
