$color-primary: #90e2bb;
$color-primary-dark: #82cea9;
$color-primary-darker: #84b69e;
$color-primary-bright: #64ebaa;
$color-primary-brighter: #6ceeaf;
$color-primary-light: #eaf3ef;
$color-primary-lighter: #f0f6f3;

$color-secondary: #AD9643;

$color-white: #fff;

$color-gray-light: #e2e2e2;
$color-gray-lighter: #f4f4f4;
$color-gray-lightest: #f7f7f7;

$color-gray-dark: #8f8f8f;
$color-gray-darker: #7c7c7c;

$default-fsize: 1.8rem;
