.experience {
   width: 30rem;
   display: flex;
   flex-direction: column;

   &__picture {
      height: 20rem;
      object-fit: cover;
      border-radius: 1.5rem;
      overflow: hidden;
      z-index: 2;

      &:hover ~ .experience__role > span{
         transform: translateY(200%);
      }
      &:hover ~ .experience__role::before{
         bottom: 50%;
      }
   }

   &__photo {
      width: 100%;
      height: 100%;
   }

   &__role {
      width: 85%;
      align-self: center;
      display: flex;
      justify-content: center;
      background: $color-white;
      color: $color-secondary;
      padding: 2rem 6rem;
      box-shadow: 0 2px 7px 2px rgba(0,0,0, .08);
      border-radius: 50% 3px 50% 3px;
      // border-radius: 990px 990px 0 0;
      // border-radius: 7px;
      transform: translateY(-50%);
      overflow: hidden;
      z-index: 2;
      position: relative;

      & > span {
         min-width: max-content;
         transition: transform .2s;
      }

      &::before {
         content: attr(data-role);
         position: absolute;
         bottom: 120%;
         transform: translateY(50%);
         min-width: max-content;
         color: $color-primary-dark;
         transition: bottom .2s;
      }
   }

   &__description {
      margin-top: -.5rem;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2.5rem !important;
      color: $color-gray-dark;
      text-align: left;
   }

   &__duration {
      align-self: flex-end;
      width: max-content;
      font-size: 1.3rem;
      font-weight: 500;
      border-radius: 3px;
      color: rgb(182, 182, 182);
   }
}