.u-no-bullets {
   list-style: none;
}

.u-text-center {
   text-align: center !important;
}

.u-block-center {
   display: block;
   margin: 0 auto;
}

.u-text-primary {
   color: $color-primary-dark !important;
}

.u-mgb-sm {
   margin-bottom: 1.5rem !important;
}

.u-mgb-md {
   margin-bottom: 3rem !important;
}

.u-mgb-lg {
   margin-bottom: 8rem !important;
}
.u-mgb-lgr {
   margin-bottom: 10rem !important;
}
.u-mgb-xlg {
   margin-bottom: 12rem !important;
}

.u-hidden-down {
   transform: translateY(8rem);
   opacity: 0;
}
.u-hidden-left {
   transform: translateX(-8rem);
   opacity: 0;
}

.u-underline::after {
   width: 2ch !important;
}