.no-bullets {
   list-style: none;
}

.text-center {
   text-align: center !important;
}

.btn-center {
   display: block;
   margin: 0 auto;
}

.text-primary {
   color: $color-primary-dark !important;
}

.mgb-sm {
   margin-bottom: 1.5rem !important;
}

.mgb-md {
   margin-bottom: 3rem !important;
}

.mgb-lg {
   margin-bottom: 8rem !important;
}